.rateMessage {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;

    & > svg {
        fill: var(--rate-alert-color);
    }

    .cancelBtn {
        background: var(--rate-alert-cancel-btn-bg);
        color: var(--rate-alert-cancel-btn-color);
    }
}

.title {
    color: var(--rate-alert-color);
    font-weight: 400;
    font-size: 16px;
}

.rateBtn {
    gap: 6px;

    svg {
        fill: #fff;
    }
}

.buttons {
    display: flex;
    gap: 10px;
}
